.root
  align-items center
  color rgba(255, 255, 255, 0.65)
  padding 8u 4u 2u
  +tablet()
    padding 12u 6u 6u
  +desktop() 
    padding 16u 10u 8u
  +wide()
    padding 18u 12u 10u

.title
  margin-top 2u
  color #ffffff
  font-family 'SourceSansPro-Light'
  font(xxxl)
  text-align center


.description
  margin-top 2u
  color #ffffff
  font-family 'SourceSansPro-Light'
  font(l)
  color rgba(255, 255, 255, 0.65)
  margin-top 4u
  text-align center
  align-self center
  +tablet()
    font(xl)
  &.url
    border-bottom dotted 1px
    border-color #ffffff
    margin-top 0
    

.touchableDescription
  align-content center
  justify-content center
.row 
  flex-direction row

.image
  width 10u
  height 10u