.view 
  &.footer
    display block
    padding 6u 2u 2u 2u
    width 100%
    color rgba(255, 255, 255, 0.65)
    +desktop()
      flex-wrap wrap
      display flex
      padding 10u 10u 6u 10u
      flex-direction row
      width 100%
    +tablet()
      lex-wrap wrap
      display flex
      padding 8u 8u 4u 8u
      flex-direction row
      width 100%
    +wide()
      lex-wrap wrap
      display flex
      padding 12u 12u 8u 12u
      flex-direction row
      width 100%
  &.selection
    &.s1
      width 100%
      +desktop()
        width 50% - 1u
        margin-left 4u
      +tablet()
        width 50% - 1u
        margin-left 4u
      +wide()
        width 50% - 1u
        margin-left 4u
    &.s2
      width 100%
      margin-left 0
      margin-top 6u
      +desktop()
        width 50% 
        margin-left 4u
        padding-left 8u
      +tablet()
        width 50% 
        margin-left 4u
        padding-left 8u
      +wide()
        width 50% 
        margin-left 4u
        padding-left 8u
    &.adress
      margin-top 4u
  &.ul
    margin-top 4u
    flex-direction row
    justify-content space-between
    +desktop()
      justify-content left
    +tablet()
      justify-content left
    +wide()
      justify-content left
  &.li
    +desktop()
      margin-left 1u
      padding 0 0
      flex-direction row
      color rgba(255, 255, 255, 0.65)
    +tablet()
      margin-left 1u
      padding 0 0
      flex-direction row
      color rgba(255, 255, 255, 0.65)
    +wide()
      margin-left 1u
      padding 0 0
      flex-direction row
      color rgba(255, 255, 255, 0.65)
.text
  font-family 'SourceSansPro-Light'
  color #ffffff
  &.head
    font(xxl)
  &.p
    font(l)
    margin-top 4u  
.button
  &.b1
    height 35
    width 35
    background-color rgba(255, 255, 255, 0.35)
    justify-content center
    radius(circle)
    align-items center
    color #ffffff
    flex 1   
   