.root
  padding 6u 4u 2u
  align-items center
  flex-direction column-reverse
  +tablet()
    padding 6u 6u 2u
    flex-direction row
  +desktop()
    padding 10u 10u 6u 
  +wide()
    padding 12u 12u 8u
  

.spotlight
    align-items center
    text-align center
    
    +tablet()
      flex 1
      align-items start
      text-align left
      

.title
  text-align center
  color #636363
  margin-top 2u
  font(xxxl)
  +tablet()
    text-align left
.description
  margin-top 4u
  color #636363
  font(xl)
  text-align center
  +tablet()
    text-align left
    width 90%
.buttonText
  font(l)
  color #636363
  text-align center

.button
  margin-top 4u
  width 30u
  height 6u
  align-items center
  justify-content center
  border solid 1px #dddddd
  radius(l)
  

.image
  height 24u
  width 24u
  radius(circle)
  border solid 1px #dddddd
  color #636363
  +tablet()
    margin-left 8u
    height 20u 
    width 20u
  +desktop()
    height 22u
    width 22u
  +wide()
    height 38u
    width 38u
  
  