.root
  padding 6u 4u 2u
  border-top solid 1px #dddddd
  justify-content center
  text-align center
  align-items center
  +tablet()
    padding 6u 6u 2u
  +desktop()
    padding 8u 8u 4u 
  +wide()
    padding 12u 12u 8u

.title
  color #636363
  margin-top 2u
  font(xxxl)

.description
  color #636363
  text-align center
  margin-top 4u
  width 100%
  font(xl)
  +tablet()
    width 70%
  &.first
    color #ffffff

.buttonText
  color #636363
  text-align center
  font(l)
  &.first
    color #ffffff
.row
  margin-top 4u
  flex-direction row

.button
  margin-top 4u
  width 15u
  height 6u
  justify-content center
  align-self center
  margin-left 2u
  border solid 1px #dddddd
  radius(l)
  +tablet()
    width 30u
  &.first
    margin-left 0
    background-color #9acff2