.root
  padding 6u 4u 2u
  text-align center
  border-top solid 1px #dddddd
  +tablet()
    padding 6u 6u 2u
  +desktop()
    padding 10u 10u 6u 
  +wide()
    padding 12u 12u 8u

.styleItem
  text-align center
  align-items center
  margin-top 4u
  justify-content center
  +tablet()
    flex-direction row
    width 100% 
    justify-content space-around
  +desktop()
    margin-top 6u 
  +wide()
    margin-top 8u

.item
  padding 8u
  text-align center
  align-items center
  justify-content center
  +tablet()
    flex 1
    padding 4u
  &.first
    border-bottom-left-radius 0
    border-top-right-radius 1u
    border-top-left-radius 1u
    +tablet()
      border-bottom-left-radius 1u
      border-top-right-radius 0
  &.last
    border-bottom-right-radius 1u
    border-top-right-radius 0
    border-bottom-left-radius 1u
    +tablet()
      border-top-right-radius 1u
      border-bottom-left-radius 0

.button
  margin-top 4u
  width 30u
  height 6u
  align-items center
  justify-content center
  align-self center
  border solid 1px #dddddd
  radius(l)

.title
  margin-top 2u
  font(xxxl)
  color #636363
  text-align center

.description
  color #636363
  margin-top 4u
  align-self center
  font(xl)
  +tablet()
      width 40u
  +desktop()
      width 60u
  +wide()
      width 80u
  
.buttonText
  font(l)
  &.grey
    color #636363

.itemCountText
  margin-top 2u
  color #ffffff
  font(xxxl)

.itemText
  font(l)
  &.white
    color #ffffff

.contentText
  margin-top 6u
  color #636363
  font(l)
  columns 40u 2
  column-gap 4u
  text-align justify
  +tablet()
    font(xxl)
  