.main
    +desktop()
        padding-top 4.25em
        background-color #ffffff
        color #636363
        border-radius 0.25em
        box-sizing inherit
        display flex
    +mobile()
        color #636363
        border-radius 0.25em
        background-color #ffffff
        
.section1
    +desktop()
        display flex
        margin 0 0 2em 0
        padding 5em 5em 3em 5em
        flex-direction row
        justify-content space-around
    +mobile()
        display: block
        align-items center
        padding 3em 1.5em 1em 1.5em
        border-top: solid 1px #dddddd

.text
    +desktop()
        display: block
        color: #636363
        text-align center
        margin-bottom: 0.7em
        font-family: 'SourceSansPro-Light'
        font-size: 2em
    +mobile()
        color: #636363
        font-family 'SourceSansPro-Light'
        margin 0 0 0.7em 0
        font-size 1.5em
        font-weight 300
        letter-spacing -0.025em
        text-align center

.textsmal
    +desktop()
        margin-bottom: 2em
        font-size: 17pt
        color: #636363
        font-weight: 300
        box-sizing: inherit
        text-align center
        font-family: 'SourceSansPro-Light'
    +mobile()
        color #636363
        margin 0 0 2em 0
        text-align center
        font-size 16px
        box-sizing inherit
.div
    +desktop()
        display flex
        flex 1
        align-items center
        justify-content: center
        text-align center
        flex-direction: row
        box-sizing: inherit
        margin: 0 0 2em 0
    +mobile()
        flex 1
        display flex
        align-items center
        text-align center
        flex-direction column-reverse
        margin 0 0 2em 0
        color #636363
.div2
    +desktop()
        display flex
        flex 1


.section2
    +desktop()
        padding 5em 5em 3em 5em
        text-align center
        display block
        border-top solid 1px #dddddd
        color #636363
    +mobile()
        color #636363
        padding 3em 1.5em 1em 1.5em
        border-top solid 1px #dddddd
        text-align center
        display block
.section3
    +desktop()
        padding 5em 5em 3em 5em
        text-align center
        display block
        border-top solid 1px #dddddd
        color #636363
    +mobile()
        color #636363
        border-top solid 1px #dddddd
        text-align center
        padding 3em 1.5em 1em 1.5em
.section4
    +desktop()
        padding 5em 5em 3em 5em
        text-align center
        display block
        border-top solid 1px #dddddd
        color #636363
    +mobile()
        color #636363
        display block
        border-top solid 1px #dddddd
        text-align center
        padding 3em 1.5em 1em 1.5em
.image
    +desktop()
        height 16em
        display flex
        margin-left 4em
        border-radius 100%
        border-color #dddddd
        padding 0.65em
        position relative
        width 16em
    +mobile()
        height 16em
        width 16em
        border-color #dddddd
        padding 0.35em
        flex 0 1 auto
        margin-left 0
        margin-bottom 2em
        display inline-block
        border-radius 100%
        border solid 1px
        position relative
        text-align center
        color #636363
.text2
    +desktop()
        text-align center
        display block
        font-family 'SourceSansPro-Light'
        font-size 2em
        color #636363
        margin-bottom 3em
        flex 1
    +mobile()
        color #636363
        text-align center
        font-family 'SourceSansPro-Light'
        font-size 1.5em
        font-weight 300
        margin 0 0 0.7em 0
.features
    +desktop()
        display flex
        flex-wrap wrap
        justify-content center
        margin 0 0 3em -2em
        color #636363

.featurecolumn
    +desktop()
        flex-direction row
        justify-content space-between
    +mobile()
        width 100%
        display flex
        color #636363
        flex-wrap wrap
        justify-content center
        text-align center
        align-items center
        margin 0 0 2em 0
    
.image2
    +desktop()
        height 16em
        display inline-block
        border-radius 100%
        border-color #dddddd
        color #efa8b0
        padding 0.65em
        position relative
        width 16em
        margin-bottom 2em
    +mobile()
        margin 0 0 1.5em 0
        padding 0.35em
        height 16em
        width 16em
        color #efa8b0
        border-radius 100%
        text-align center
        display inline-block
        position relative
        vertical-align baseline

.texthed
    +desktop()
        font-size 1.25em
        font-family 'SourceSansPro-Light'
        text-align center
        margin-bottom 0.7em
        color #636363
        box-sizing inherit
        font-size 17pt
    +mobile()
        font-size 1.25em
        font-family 'SourceSansPro-Light'
        text-align center
        color #636363
        font-weight 300
        margin 0 0 0.7em 0

.li
    +mobile()
        margin-top 2em

.textmain
    +desktop()
        color #636363
        text-align center
        font-family 'SourceSansPro-Light'
        font-size 12pt
    +mobile()
        color #636363
        text-align center
        font-size 12pt
        font-family 'SourceSansPro-Light'

.fu 
    +desktop()
        margin-top 3em
    +mobile()
        margin-top 3em
.se2
    +desktop()
        width 100%
        justify-content center
        margin 0 0 2em 0
        color #636363
    +mobile()
        color #636363


.text3
    +desktop()
        text-align center
        display flex
        font-family 'SourceSansPro-Light'
        font-size 1.25em
        color #636363
        margin-bottom 3em
        flex 1
    +mobile()
        color #636363
        flex 1
        font-family 'SourceSansPro-Light'
        margin: 0 0 2em 0
        column-gap 2em
        text-align justify
        columns 20em 2

.fe
    +desktop()
        display inline-grid
        width 50%
    +mobile()
        display flex
        margin 0 0 2em 0
        font-size 1em
        letter-spacing 0
        text-align center
        align-items center
        color #636363

.all
    +desktop()
        display flex
        flex-direction row
        width 100%
        margin 0 0 3em 0
        text-align center
     +mobile()
        display flex
        flex-direction column
        text-align center
        width 20em
        margin 0 auto 2em auto
        max-width 100%

.style1
    +desktop()
        background-color #efa8b0
        flex 1
        padding 1.5em
        text-align center
        color #ffffff
        margin 0
        z-index auto
        display list-item
        box-sizing border-box
        border-top-left-radius 8px
        border-bottom-left-radius 8px
    +mobile()
        background-color #efa8b0
        border-bottom-left-radius 0
        flex 1
        border-top-right-radius 8px
        border-top-left-radius 8px
        padding 1.5em
        color #ffffff
        text-align center

.style2
    +desktop()
        background-color #c79cc8
        flex 1
        padding 1.5em
        color #ffffff
        text-align center
        box-sizing inherit
    +mobile()
        background-color #c79cc8
        flex 1
        padding 1.5em
        color #ffffff
        text-align center
        box-sizing inherit
.style3
    +desktop()
        background-color #a89cc8
        flex 1
        padding 1.5em
        color #ffffff
        text-align center
        box-sizing inherit
    +mobile()
        background-color #a89cc8
        flex 1
        padding 1.5em
        color #ffffff
        text-align center
.style4
    +desktop()
        background-color #9bb2e1
        flex 1
        padding 1.5em
        color #ffffff
        text-align center
        box-sizing inherit
    +mobile()
        background-color #9bb2e1
        flex 1
        padding 1.5em
        color #ffffff
        text-align center

.style5
    +desktop()
        background-color #8cc9f0
        flex 1
        padding 1.5em
        color #ffffff
        text-align center
        box-sizing inherit
        border-top-right-radius 8px
        border-bottom-right-radius 8px
    +mobile()
        background-color #8cc9f0
        border-bottom-right-radius 8px
        padding 1.5em
        color #ffffff
        text-align center
        border-top-right-radius 0
        border-bottom-left-radius 8px
.texter
    +desktop()
        display flex
        flex-direction row
        width 100%
        margin 0 0 3em 0
        text-align justify
    +mobile()
        display flex
        columns 20em 2
        column-gap 2em
        text-align justify
        margin 0 0 2em 0
        color #636363
.butpadding
    +desktop()
        display block
        padding 0 43%
    +mobile()
        display block
.butpadding2
    +desktop()
        display block
        padding 0 43%
    +mobile()
        display block 


.major
    +desktop()
        color #636363
        text-align center
        margin-bottom 3em
    +mobile()
       color #636363 
       text-align center
       color #636363
       text-align center
       box-sizing inherit
.majortext
    +desktop()
        color #636363
        font-family 'SourceSansPro-Light'
        font-size 2em
        margin 0 0 0.7em 0
        letter-spacing -0.025em
        font-weight 300
        text-align center
    +mobile()
        font-family 'SourceSansPro-Light'
        color #636363
        font-size 1.5em
        font-weight 300
        margin 0 0 0.7em 0
        letter-spacing -0.025em
        text-align center
.majortextsmal
    +desktop()
        font-size 1.25em
        letter-spacing -0.025em
        font-family 'SourceSansPro-Light'
        margin 0 0 2em 0
        text-align center
        color #636363
    +mobile()
        font-family 'SourceSansPro-Light'
        text-align center
        box-sizing inherit
        margin 0 0 2em 0
        font-size 1em
        letter-spacing 0
        color #636363
.majorbuttons
    +desktop()
        display flex
        justify-content space-evenly
        flex-direction row
    +mobile()
        display flex
        flex-direction row
        justify-content space-evenly

.majorbuttontouch
    +desktop()
        display flex
        width 50
        height: 50
        flex-direction column
        background-color rgba(255, 255, 255, 0.35)
        align-items 'center'
        color #ffffff
        flex 1
    +mobile()
        display flex
        width 50
        height: 50
        flex-direction column
        background-color rgba(255, 255, 255, 0.35)
        align-items 'center'
        color #ffffff
        flex 1