.root
  padding 6u 4u 2u
  align-items center
  flex-direction column-reverse
  +tablet()
    padding 6u 6u 2u
    flex-direction row
  +desktop()
    padding 10u 10u 6u 
  +wide()
    padding 12u 12u 8u
  

.spotlight
    align-items center
    text-align center
    
    +tablet()
      flex 1
      align-items start
      text-align left
      

.title
  text-align center
  color #636363
  font-family 'SourceSansPro-Light'
  font-weight bold
  margin-top 2u
  font(xxxl)
  +tablet()
    text-align left
.description
  margin-top 4u
  color #636363
  font-family 'SourceSansPro-Light'
  font(xxl)
  text-align center
  +tablet()
    text-align left
    
.buttonText
  font(l)
  color #636363
  font-family 'SourceSansPro-Light'
  text-align center

.button
  margin-top 4u
  width 30u
  height 6u
  align-items center
  justify-content center
  border solid 1px #dddddd
  radius(l)
  

.image
  height 24u
  width 24u
  radius(circle)
  border solid 2u white
  color #636363
  +tablet()
    height 24u 
    width 24u
  +desktop()
    height 30u
    width 30u
  +wide()
    height 46u
    width 46u
  
.circleView
  height 24u
  width 24u
  radius(circle)
  align-items center
  justify-content center
  border solid 1px black
  color white
  +tablet()
    margin-left 8u
    height 24u 
    width 24u
  +desktop()
    height 30u
    width 30u
  +wide()
    height 46u
    width 46u

.border
  border solid 2px #dddddd
  width 18u
  margin-top 4u
