.root
  padding 6u 2u 2u 2u
  color #ffffff 
  +tablet()
    flex-wrap wrap
    padding 8u 8u 4u
    flex-direction row
  +desktop()
    padding 10u 10u 6u
  +wide()
    padding 12u 12u 8u

.about
  +tablet()
    flex 1
    margin-left 4u

.adress
  margin-left 0
  margin-top 6u
  +tablet()
    flex 1
    margin-left 4u
    margin-top 0u
    padding-left 8u

.icons
  margin-top 4u
  flex-direction row
 
  +tablet()
    justify-content start
  &.first
    +tablet()
      margin-left 0
      
    
.title
  color #ffffff
  font-family 'SourceSansPro-Light'
  font-weight bold
  font(xxl)

.description
  color rgba(255, 255, 255, 0.65)
  font-family 'SourceSansPro-Light'
  font(xl)
  margin-top 4u

.buttonText
  color rgba(255, 255, 255, 0.65)
  font-family 'SourceSansPro-Light'
  font(xl)
  margin-top 4u
  margin-top 0u
  text-align center

.icon
  height 6u
  width 6u
  background-color rgba(255, 255, 255, 0.35)
  justify-content center
  radius(circle)
  margin-left 2u
  text-align center
  align-items center
  color #ffffff 
  &.first
    margin-left 0

.button
  margin-top 4u
  width 30u
  height 6u
  align-self center
  justify-content center
  font-family 'SourceSansPro-Light'
  border solid 1px #dddddd
  radius(l)
  +tablet()
    align-self flex-start

.copyright
  align-self center
  flex-direction row

.copyrightText
  color rgba(255, 255, 255, 0.65)
  text-align center
  font-family 'SourceSansPro-Light'
  font(m)
  &.url
    border-bottom dotted 1px
    border-color #ffffff

.adressRow
  flex-direction row


.adressTitle
  color #ffffff
  font-family 'SourceSansPro-Light'
  font-weight bold
  font(xl)
  margin-top 4u
  width 10u
  

.adressDescription
  color rgba(255, 255, 255, 0.65)
  font-family 'SourceSansPro-Light'
  display flex
  font(xl)
  margin-top 4u
  margin-left 4u
  align-items center