.root
  padding 6u 4u 2u
  align-items center
  border-top solid 1px #dddddd
  +tablet()
    padding 6u 6u 2u
  +desktop()
    padding 10u 10u 6u 
  +wide()
    padding 12u 12u 8u

.item
  text-align center
  align-items center
  +tablet()
    margin-left 4u
    flex 1
  &.first
    margin-left 0

.major
  margin-top 4u
  +tablet()
    flex-direction row
    justify-content space-around
  +desktop()
    margin-top 6u
  +wide()
    margin-top 6u

.title
  color #636363
  text-align center
  font-weight bold
  font-family 'SourceSansPro-Light'
  font(xxxl)
  
.itemTitle
  margin-top 2u
  color #636363
  text-align center
  font(xxl)
  font-family 'SourceSansPro-Light'


.itemText
  font(m)
  margin-top 4u
  color #636363
  text-align center
  font-family 'SourceSansPro-Light'
  +desktop()
    font(l)
  +wide()
    font(xl)

.buttonText
  font(l)
  color #636363
  text-align center
  font-family 'SourceSansPro-Light'

.image
  height 16u
  width 16u
  radius(circle)
  border solid 2u white
  color white
  +tablet()
    height 14u 
    width 14u
  +desktop()
    height 22u
    width 22u
  +wide()
    height 28u
    width 28u

.circleView
  height 16u
  width 16u
  radius(circle)
  align-items center
  justify-content center
  border solid 1px black
  color white
  +tablet()
    height 14u 
    width 14u
  +desktop()
    height 22u
    width 22u
  +wide()
    height 28u
    width 28u

.button
  margin-top 4u
  width 30u
  height 6u
  align-items center
  justify-content center
  border solid 1px #dddddd
  radius(l)

.border
  border solid 2px #dddddd
  width 18u
  margin-top 4u
